*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height:100vh;
    background-image: url(../assets/Best_Mac_to_do_list_apps.jpg);

}

